.about-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}

.about-banner{
    //Img element
    width: 90%;
    border-radius: 2rem;
    height: 33vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}

@media screen and (max-width:1024px){
    .about-banner{
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .about-banner{
        width: 95%;
        height: 33vh;
        border-radius: 0.5rem;
    }
}